@import '../../scss/scssvars.scss';

.Jobs {
	background-color: $surface;
	color: #fff;

	box-shadow: $shadow-6dp;

	.card-body .card-subtitle {
		color: $onSurfaceMediumEmphasis;
	}

	.card-footer {
		border-top: 1px solid $divider;
	}


	.btn-primary {
		background-color: $secondary !important;
		border-color: #000000  !important;
		color: $onPrimary !important;
	
		&:hover,
		&:active,
		&:focus {
			background-color: $secondary-darker !important;
			border-color: #000000 !important;
			color: $onPrimary !important;
		}
	
		&:hover {
			background-color: $secondary-darker !important;
			border-color: #000000 !important;
		}
	}
	
}
