@import '../../scss/scssvars.scss';

.Search {
	input,
	input:focus {
		background-color: $background-input;
		border: none;
		color: white;
		box-shadow: none;
	}

	.input-group {
		box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
	}

	span {
		background-color: #212121;
		color: white;
		border: none;
	}

	select,
	select:focus {
		background-color: $background-input;
		border: none;
		color: white;
		box-shadow: none;
	}
}
