@import './scss/scssvars.scss';


body {
	background-color: $background;
	overflow-y: scroll;
	font-family: 'Noto Sans', sans-serif;
}

.App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.content {
	flex: 1;
}

.text-primary {
	color: $primary !important;
}
