$primary: #fbff00;
$primary-darker: #c4cc00;

$secondary: #ffffff;
$secondary-darker: #d4d4d4;

$surface: #101010;

$background: #000000;
$background-input: #3a3b3c;

$error: #cf6679;

$onPrimary: #000000;
$onSecondary: #ffffff;

$onSurface: #fbff00;
$onSurfaceMediumEmphasis: rgba(255, 255, 255, 0.6);
$onSurfaceLowEmphasis: rgba(255, 255, 255, 0.38);

$onBackground: rgba(255, 255, 255, 0.6);

$onError: #000000;

$divider: #333333;

$shadow-2dp: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
$shadow-4dp: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
$shadow-6dp: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
